@charset "utf-8";

body
{
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #414180;
    height: 100%;
}


.layout-container-fluid
{
    background-color: #FFFFFF;
    max-width: 1200px;
    padding: 5px 5px 5px 5px;
}


.content-container-fluid
{
    margin: 5px 5px 5px 5px;
}


#map1
{
    height: 500px;
}

#map {
    height: 300px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
  #tablemap {
    margin: auto;
    height: 300px;
    width: 100%;
  }




